<app-navbar></app-navbar>
<img

/>
<div class="md:bg-[url('assets/img/bg.jpeg')] md:bg-cover md:h-screen">
    <div class="md:mx-48">
        <section class="flex flex-wrap justify-center md:justify-between  w-full h-full bg-white p-6">
            <div class="mr-6">
                <h1
                    class="text-dark mb-6 text-[32px] font-bold uppercase sm:text-[40px] lg:text-[36px] xl:text-[40px]">
                    SOBRE NOSOTROS</h1>
                <p class="text-body-color mb-9 text-base leading-relaxed">Romina Bolzan, Renzo Treppo.</p>
            </div>
            <img src="assets/img/renzoromina.png" />
        </section>
    </div>
</div>